In [ ]:
import subprocess
import time

stocks_process = subprocess.Popen(
    ['dolt', 'sql-server', '--port', '3307'],
    cwd='../data/raw/stocks'
)

options_process = subprocess.Popen(
    ['dolt', 'sql-server', '--port', '3308'],
    cwd='../data/raw/options'
)

time.sleep(3)

print("Dolt SQL servers for stocks and options have been started.")

Dolt SQL servers for stocks and options have been started.

In [34]:
#!pip install mysql-connector-python
import mysql.connector

In [35]:
# Connect to the Stocks Dolt DB running on port 3307
conn_stocks = mysql.connector.connect(
    host='127.0.0.1',
    port=3307,
    user='root',
    password='',
    database='stocks'
)

cursor_stocks = conn_stocks.cursor()

cursor_stocks.execute("SHOW TABLES;")
stocks_tables = cursor_stocks.fetchall()
print("Stocks Database Tables:")
for table in stocks_tables:
    print(table[0])

Stocks Database Tables:
dividend
ohlcv
split
symbol

In [36]:
# Connect to the Options Dolt DB running on port 3308
conn_options = mysql.connector.connect(
    host='127.0.0.1',
    port=3308,
    user='root',
    password='',
    database='options'
)

cursor_options = conn_options.cursor()

cursor_options.execute("SHOW TABLES;")
options_tables = cursor_options.fetchall()
print("Options Database Tables:")
for table in options_tables:
    print(table[0])

Options Database Tables:
option_chain
volatility_history

In [37]:
import pandas as pd 

query = "SELECT * FROM ohlcv LIMIT 1000"
cursor_stocks.execute(query)
ohlcv = cursor_stocks.fetchall()
pd.DataFrame(ohlcv, columns=['date', 'symbol', 'open', 'high', 'low', 'close', 'volume'])

           date symbol   open   high    low  close   volume
0    2011-01-03      A  41.56  42.14  41.41  41.88  3572300
1    2011-01-03   AACG   3.67   3.76   3.67   3.70     2400
2    2011-01-03   AADR  29.98  30.06  29.88  30.06     1581
3    2011-01-03   AAIC  24.22  24.74  24.22  24.60    37908
4    2011-01-03   AAME   2.06   2.06   2.06   2.06     1400
..          ...    ...    ...    ...    ...    ...      ...
995  2011-01-03   EBMT  10.83  10.86  10.79  10.79      300
996  2011-01-03    EBR  13.91  14.04  13.88  14.00   878290
997  2011-01-03  EBR.B  16.72  16.89  16.70  16.86   315545
998  2011-01-03    EBS  23.63  23.92  23.55  23.78   357210
999  2011-01-03   EBTC  13.59  13.65  13.39  13.65     7947

[1000 rows x 7 columns]

In [40]:
import pandas as pd

query = "SELECT * FROM option_chain LIMIT 1000"
cursor_options.execute(query)
option_chain = cursor_options.fetchall()

columns_option_chain = [
    'date', 'act_symbol', 'expiration', 'strike', 'call_put',
    'bid', 'ask', 'vol', 'delta', 'gamma', 'theta', 'vega', 'rho'
]

pd.DataFrame(option_chain, columns=columns_option_chain)

,date,act_symbol,expiration,strike,call_put,bid,ask,vol,delta,gamma,theta,vega,rho
0,2019-02-09,A,2019-02-15,65.00,Call,10.50,11.25,0.2705,1.0000,0.0000,-0.0046,0.0000,0.0124
1,2019-02-09,A,2019-02-15,65.00,Put,0.00,0.03,0.3133,-0.0002,0.0002,-0.0002,0.0001,0.0000
2,2019-02-09,A,2019-02-15,67.50,Call,8.15,8.50,0.2705,0.9991,0.0010,-0.0053,0.0003,0.0129
3,2019-02-09,A,2019-02-15,67.50,Put,0.00,0.03,0.3133,-0.0034,0.0031,-0.0024,0.0011,0.0000
4,2019-02-09,A,2019-02-15,70.00,Call,5.70,6.00,0.2705,0.9845,0.0137,-0.0127,0.0041,0.0132
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2019-02-09,AGN,2019-02-22,123.00,Put,0.56,0.85,0.3403,-0.1505,0.0268,-0.0720,0.0622,-0.0073
996,2019-02-09,AGN,2019-02-22,127.00,Call,5.70,6.20,0.3028,0.7702,0.0480,-0.1106,0.0781,0.0248
997,2019-02-09,AGN,2019-02-22,127.00,Put,1.19,1.36,0.2967,-0.2662,0.0433,-0.0875,0.0859,-0.0126
998,2019-02-09,AGN,2019-02-22,129.00,Call,4.25,4.80,0.2994,0.6664,0.0550,-0.1224,0.0913,0.0239
999,2019-02-09,AGN,2019-02-22,129.00,Put,1.74,1.94,0.2860,-0.3574,0.0511,-0.0954,0.0952,-0.0167